@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Varela&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    background-color: #383434;
    font-family: 'Roboto','Varela', sans-serif;
    padding: 0;
    margin: 0;
}

.image__artwork{
    margin: 1rem;
    border-radius: 0.8rem;
}

.image__card{
    padding: 0;
    margin: 0;
    text-align: center;
}

.image__artwork:hover{
    box-shadow: 0.05rem 0.05rem 0.5rem 0.5rem #808080;
    cursor: pointer;
}

.largeImage__container{
    background: rgba(27, 26, 26, 0.2); 
    backdrop-filter: blur(0.5rem);
    width: 100vw;
    height: 100vh;
    text-align: center;

}

.largeImage__artwork{
    margin-top: 1rem;
}


.artwork__gallery{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.background__video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.global__header{
    padding-top:0;
    width: 100vw;
}

.nav__link-stack{
    margin-left: 1rem;
}

.nav__links{
    width: fit-content;
    color: #fff;
    position: relative;
    text-decoration: none;
  }

  .nav__links:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 0.125rem;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav__links:hover:after{ 
    width: 100%; 
    left: 0; 
  }

@media (min-width:641px) {
    .largeImage__artwork{
        width: 500;
        height: 500;
    }
    .nav__links{
        text-transform: uppercase;
        letter-spacing: 0.15em;
        padding: 1rem 1.25rem;
    }
}