*{
    box-sizing: border-box;
}

body{
    background-color: #383434;
}

.image__artwork{
    margin: 1rem;
    border-radius: 0.8rem;
}

.image__card{
    padding: 0;
    margin: 0;
    text-align: center;
}

.image__artwork:hover{
    box-shadow: 0.05rem 0.05rem 0.5rem 0.5rem #808080;
    cursor: pointer;
}

.largeImage__container{
    background: rgba(27, 26, 26, 0.2); 
    backdrop-filter: blur(0.5rem);
    z-index: 7;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.largeImage__artwork{
    margin-top: 1rem;
}

.artwork__gallery{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.background__video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}